*{
  margin:0;
  padding:0;
  box-sizing:border-size;
}

/*sticky*/

header{
	position:sticky;
	top:0px;	
	z-index:100;
	width:100%;
}

	/*head*/

.header-row1{
	padding:10px;
	background-color:#191970;
	
}

/*.row1 h2{
	font-size:30px;
	font-family:itim;
	text-align:center;
	color:yellow;
}

.col1 h2:hover{
	color:brown;
	font-size:31px;
}
*/

/*navigation*/



.header-row2{
	background-color:white;
	display:flex;
	font-size:22px;
	padding:20px;
	justify-content:space-around;
	
}


/*.row2 h2{
	font-size:26px;
	font-family:caveat;
	color:red;
	width:10%;
}

nav{
	width:80%;
}

ul{
	display:flex;
	width:100%;
	justify-content:space-around;
}*/

.nav, .dropdown, .get a{
	text-decoration:none;
	color:blue;
}

.nav:hover, .dropdown:hover{
	text-decoration:underline;
	color:red;
}

/*.a7{
	background-color:#00ffff;
	padding:10px;
	border-radius:10px;
	width:10%;
}*/

.get a:hover{
	background-color:#00ffff;
	padding:8px;
	border-radius:10px;
	color:#191970;
}

/*dropdown

.row2{
	position:relative;
}


.drop{
	list-style-type:none;
	position:absolute;
	background-color:#191970;
	top:62%;
	left:65%;
	border:1px solid white;
	display:none;
	color:white;
	padding:5px;
}

li{
	padding:5px;
}

li:hover{
	color:yellow;
}


.a5:hover .drop{
	display:block;
}

.list{
	list-style-type:none;
}

.drop1{
	list-style-type:none;
	position:absolute;
	display:none;
	background-color:#191970;
	top:30px;
	padding:5px;
	left:-140px;
	color:white;
	border:1px solid white;
}


.list:hover .drop1{
	display:block;
}*/



/*home*/

.home-row{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/dream.jpg);
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	/*height:400px;*/
	position:relative;
}

/*.row3 h2{
		color:#05fcfc;
		font-family:lucida handwriting;
		position:absolute;
		top:20%;
		left:50%;
		font-size:32px;
		
}

.row3 p{
		color:white;
		font-family:Lovers+Quarrel;
		color:white;
		text-shadow:0px 10px 10px pink;
		word-spacing:20px;
		line-height:40px;
		font-style: normal;
		font-weight: 400;
		position:absolute;
		top:40%;
		left:55%;
		font-size:32px;
		
}

.row3 h3{
		color:white;
		font-family:lucida handwriting;
		position:absolute;
		top:60%;
		left:10%;
		font-size:32px;
		
}

.row3 h3:hover{
			font-size:35px;
			transform:translate(5%);
			transition-duration:1s;
			color:white;
}*/

/*about*/

.about-section{
	background-color:pink;
	padding-top:2%;
}

.about-container{
	width:90%;
	margin:auto;
}

.about-row{
	padding-bottom:20px;
}

.about p{
	font-size:22px;
	text-align:center;

}

.about h3{
	font-size:24px;
	font-family:lucida handwriting;
	color:#191970;
	text-align:center;
	padding:2%;
}

.about h3:hover{
	transform:scale(1.1);
	transition-duration:2s;
	text-shadow:0px 10px 8px #191970;
	color:white;
}

.learn{
	/*display:flex;*/
	width:100%;
	/*justify-content:space-between;*/
	transition:all 1s linear 0.5s;
}

/*.learn p{
	font-size:25px;
	word-spacing:15px;
	line-height:1.3;
	width:70%;
	color:maroon
}*/

/*.image{
	transition:all 1s linear 1s;
	overflow:hidden;
	width:25%;
	border:5px solid purple;
	border-radius:30px;
	height:80vh;
		
}*/

.learn1{
	display:flex;
	padding:10px;
}

.fa-arrows{
	color:brown;
}

.learn img{
	height:100vh;
	width:100%;
}

.image:hover img{
	transition-duration:1s;
	transform:scale(1.5);

}

/*MENU*/

.menu-container h1:hover{
	transform:scale(1.1);
	transition-duration:2s;
	text-shadow:0px 10px 8px #191970;
	color:white;
}


.menu-section{
	background-color:pink;
	border-top:1px solid black;
}

.menu-container{
	width:90%;
	margin:auto;
}

.menu-container h1{
	text-align:center;
	font-family:lucida handwriting;
	padding:20px;
	color:#191970;
}


.menu-row{
	width:100%;
	/*display:flex;*/
}

.menu-image{
	position:relative;
}


.menu-span{
	position:absolute;
	top:40%;
	left:29%;
	font-size:25px;
	display:none;
	font-weight:bolder;
}

.menu-image:hover .menu-span{
	display:block;
}


.menu-col{
	/*width:33.33%;*/
	padding:10px;
}


.menu-image img{
	height:100%;
	width:100%;
	filter:brightness(100%);
	position:relative;
}

.menu-image{
	overflow:hidden;
	
}

.menu-image img:hover{
	transition-duration:2s;
	transform:scale(1.5);
	filter:brightness(40%);
	opacity:0.4;
}


.menu-col h2{
	text-align:center;
	padding:10px;
	color:white;
	text-shadow:5px 5px 6px black;
	
}

.menu-col p {
	text-align:center;
	padding:8px;
	color:purple;
}

/*EVENTS*/

.event-container h1:hover{
	transform:scale(1.1);
	transition-duration:2s;
	text-shadow:10px 10px 8px black;
	color:white;

}

.event-section{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/moon.jpg);
	background-position:top;
	background-attachment:fixed;
	background-size:cover;
}

	
.event-container{
	width:90%;
	margin:auto;
}	

.event-container h1{
	color:white;
	font-family:lucida handwriting;
	font-size:32px;
	padding:40px;
	text-align:center;
}

.event-row{
	width:100%;
	padding-bottom:40px;
	
}

.event-col{
	padding:20px;
	position:relative;
}

.event-image img{
	width:100%;
	height:70vh;
	padding-top:20px;
	
}

.event-icon{
	position:absolute;
	top:70%;
	left:50%;
	height:50px;
	width:50px;
	
}

.d1{
	position:absolute;
	height:40px;
	width:40px;
	border:1px solid yellow;
	border-radius:50px;
	top:-12px;
	left:-15px;
	animation:d1 1s linear infinite;
	background-color:yellow;
	opacity:0.2;
}

@keyframes d1{
	0%{transform:scale(1);}
	25%{transform:scale(1.3);}
	50%{transform:scale(1.6);}
	75%{transform:scale(1.9);}
	100%{transform:scale(2);}
}



.d2{
	position:absolute;
	height:20px;
	width:20px;
	border:1px solid yellow;
	border-radius:50px;
	top:-1.5px;
	left:-5px;
	background-color:yellow;
	opacity:0.4;
	animation:d2 1.3s linear infinite;
}

@keyframes d2{
	0%{transform:scale(1);}
	25%{transform:scale(1.3);}
	50%{transform:scale(1.6);}
	75%{transform:scale(1.9);}
	100%{transform:scale(2);}
}


.event-icon i{
	font-size:20px;
	color:pink;
}

/*COMMENT*/

.comment-section{
	background-color:pink;
}

.comment-container{
	padding:20px;
}

.comment-container h1{
	text-align:center;
	padding:35px;
	font-size:30px;
	color:#191970;
	font-family:lucida handwriting;
	
}

.comment-container h1:hover{
	transform:scale(1.1);
	transition-duration:2s;
	text-shadow:0px 10px 8px #191970;
	color:white;
}


.comment-col1{
	/*width:25%;*/
	padding:20px;
	background-color:#191970;
	color:white;
	
	
}

.ques{
	color:pink;
	font-size:40px;
	padding:10px;
	font-family:lucida handwriting;
}

.comment-col2{
	/*width:75%;*/
	padding:20px;
	
}

.comment-row .ask{
	font-size:45px;
	padding:10px;
	
	
}

.comment-col1 p{
	font-size:25px;
	padding:30px 0px 0px 40px;
}

.ans{
	padding:20px;
}
.ans h2{
	color:#191970;
	padding-bottom:20px;
	font-size:25px;
}

.ans p{
	padding:20px;
	font-size:20px;
	border:1px solid #191970;
	border-radius:50px 0px 50px 0px;
	box-shadow:10px 10px 10px #191970;
	
}

.ans p:hover{
	transform:translateX(20px);
	transition-duration:2s;
}

		/*SERVICES*/

.service-section{
	background-color:#191970;
	padding:20px;
}

.service-container{
	width:95%;
	margin:auto;
	background-color:pink;
}

.service-container h1{
	text-align:center;
	padding:35px;
	font-size:30px;
	color:#191970;
	font-family:lucida handwriting;
	
}

.service-container h1:hover{
	transform:scale(1.2);
	transition-duration:2s;
	text-shadow:0px 10px 8px #191970;
	color:white;
}

.service-row{
	padding:20px;
	/*display:flex;
	justify-content:space-around;*/
}

.service-col{
	display:flex;
	/*width:45%;*/
	padding:10px;
}



.ser1{
	color:black;
	/*font-size:30px;*/
	padding:10px 20px 0px 0px;
	animation:service 5s linear infinite;
}

@keyframes service{
	0%{transform:translateY(-10px);}
	25%{transform:translateY(10px);}
	50%{transform:translateY(-10px);}
	75%{transform:translateY(10px);}
	100%{transform:translateY(-10px);}
}

.ser2 h2{
	padding:0px 0px 20px 0px;
	color:purple;
	font-family:lucida handwriting;
	text-shadow:0px 10px 10px white;
}


.ans p{
	display:none;
}

.ans:hover p{
	display:block;
}

		/*CALL SECTION*/
		
.call-section{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/goal.jpeg);
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	padding-bottom:30px;
}

.call-container{
	width:90%;
	margin:auto;
	text-align:center;
}

.call-container h2{
	font-size:30px;
	padding:30px;
	color:#191970;
	font-family:lucida handwriting;
}	

.call-container h2:hover{
	font-size:30px;
	padding:30px;
	color:white;
	text-shadow:10px 10px 10px #191970;
	transform:scale(1.3);
	transition-duration:2s;
	
}	

.call-container p{
	font-size:25px;
	padding:30px;
	color:white;
	text-shadow:10px 10px 10px black;
}	

.call-container button{
	font-size:30px;
	padding:10px;
	background-color:pink;
	border:1px solid #191970;
	border-radius:20px;
}	

.call-container button:hover{
	font-size:30px;
	padding:10px;
	background-color:#191970;
	border:1px solid pink;
	border-radius:20px;
	color:white;
}	


		/*CONTACT*/

.contact-section{
	background-color:pink;
	padding-bottom:40px;
	
}


.contact-container{
	width:90%;
	margin:auto;
}

.contact-container h1{
	padding:40px;
	text-align:center;
	font-family:lucida handwriting;
	font-size:30px;
	color:#191970;
	
}

.contact-container h1:hover{
	transform:scale(1.1);
	transition-duration:2s;
	text-shadow:0px 10px 8px #191970;
	color:white;
}
		
.map{
	width:100%;
}

.contact-icon{
	width:100%;
	padding:
}

.contact{
	display:flex;
	font-size:35px;
	padding:10px 0px 0px 0px;
}

.contact-icon1{
	padding:0px 30px 30px 0px;
	color:red;
	text-shadow:0px 5px 5px black;
}


.contact-icon1:hover{
	transform:translateX(-8px);
	transition-duration:1s;
	
}

		
.contact-row{
	/*display:flex;*/
	width:100%;
}


.contact p{
	color:#191970;
	font-size:35px;
}


		/*FOOTER*/


footer{
	background-color:#191970;
}

.footer-container{
	width:90%;
	margin:auto;
	padding:10px;
	color:white;
}

.footer-row{
	/*display:flex;*/
}

.footer-col{
	padding:20px 0px 20px 20px;
	/*width:25%;*/
}

.footer-col h2{
	padding:20px 0px 20px 0px;
	font-family:itim;
	font-size:30px;

}

.footer-col h2:hover{
	color:yellow;
}

.footer-col p{
	padding:10px 0px 0px 20px;
}

.footer-col div{
	display:flex;
	padding:20px 0px 0px 10px;
}

.footer-col i{
	padding-right:10px;
}

.footer-icon i{
	height:20px;
	width:20px;
	padding:10px;
	background-color:white;
	text-align:center;
	border-radius:20px;
}

.footer-icon i:hover{
	background-color:yellow;
}

.copy{
	text-align:center;
	color:white;
	padding:20px 0px 40px 0px;
}

.copy p{
	padding:20px 0px 0px 0px;
}

.copy span{
	color:yellow;
	font-family:itim;
	font-size:20px;

}

